/* Reset styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f0f0;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */

header {
  background-color: orangered;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  padding: 10px;
  
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-left: 20px;
  
}

header nav ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
}

header nav li {
  margin-right: 50px;
}

header nav a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}

header nav a:hover {
  background-color: #222;
  color: #fff;
}

header .contact-info {
  display: flex;
  align-items: center;
  
}

.hero a {
font-size: 30px;
color: red;
}


header .cta {
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-left: 20px;
}

header .cta:hover {
  background-color: #fff;
  color: white;
  border: 2px solid #222;
}

.container h2{
color: orangered;
}

/* Main content styles */

.hero {
  height: 600px;
  
  background-image: url(/gym-homepage/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  z-index: 1;
  position: relative;
  padding: 50px;
}

.main-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.main-content p {
  margin-bottom: 20px;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial {
  background-color:rgba(0, 0, 0, 0.1)
}
/* Homepage fonts setting */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1rem;
    
  }
  
  h4 {
    font-size: 0.5rem;
  }
  
  h5 {
    font-size: 0.5rem;
  }
  
  h6 {
    font-size: 0.25rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  
  
/***************************************************/
/* Sidebar */

.sidebar {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 100;
    transition: all 0.3s ease;
  }
  
  .sidebar.show {
    left: 0;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .sidebar-header button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .sidebar-links {
    margin-top: 2rem;
    padding: 1rem;
  }
  
  .sidebar-links ul {
    list-style: none;
  }
  
  .sidebar-links li {
    margin-bottom: 0.5rem;
  }
  
  .sidebar-links a {
    color: #333;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
  }

  .social-media ul  {
    width: 100px;
    margin-left: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}